//!
@bg-color-black: rgba(22,22,22,1);
@bg-color-gray: rgba(222,222,222,1);
@bg-color-white: rgba(255,255,255,1);

//!nav
@navMenu-color-blue: rgba(120,195,237,1);
@navMenu-color-blue-secundary: rgba(62,127,183,1);
@navMenu-color-white: rgba(208,255,255,1);

//!cards
@cards-color-tables: rgba(255,255,255,0.69);


//! sizes
@totalSizeViewPortX:90vw;
@margensViewPort: 100vw;
@margensViewPortStadiumX: 95vw;
@margensViewPortStadiumY: 95vw;
@table-border-radius:7px;
@card-border-radius:18px;
@size-monitor-middle:1500px;

//! fonts
@font-almarai:'Almarai', sans-serif;


@font-anton: 'Anton', sans-serif;
@font-almarai-bebas-neue: 'Bebas Neue', sans-serif;
@font-comfortaa: 'Comfortaa', cursive;
@font-press-start:  'Press Start 2P', cursive;
@font-Rubik: 'Rubik Mono One', sans-serif;


//! colors 

@red-rival: rgba(255,76,74,1);
@blue-user: rgba(120,195,237,1);
@blue-user-secondary:rgba(175,221,233,1);
