#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: red;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #161616;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.content-home {
  width: 98.5vw;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 700vh;
  font-family: 'Almarai', sans-serif;
}
.content-home .boddy-home-image {
  position: absolute;
  top: 0%;
  width: 85%;
  height: 700vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: inherit;
  filter: blur(10px);
  /* Aplica el efecto de desenfoque */
  backdrop-filter: brightness(0.7) blur(5px);
  /* Aplica el efecto de cristal biselado */
}
.content-home .boddy-home {
  position: absolute;
  top: 0%;
  width: 85%;
  height: 700vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-home .boddy-home .image-logo {
  width: 100%;
  z-index: 2;
}
.content-home .boddy-home .image-logo img {
  width: 60%;
}
.content-home .boddy-home .options-home {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.content-home .boddy-home .options-home .button-init {
  z-index: 1;
  width: 30%;
  background-color: rgba(58, 176, 222, 0.4);
  border: 2px solid #8adede;
  padding: 15px;
  border-radius: 30px;
  color: #ffffff;
  transition: 0.2s;
  cursor: pointer;
  font-size: 30px;
}
.content-home .boddy-home .options-home .button-init:hover {
  scale: 1.05;
  background-color: rgba(58, 176, 222, 0.8);
}
.content-home .boddy-home .sky-principal {
  position: absolute;
  top: 60vh;
  width: 97vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}
.content-home .boddy-home .sky-principal img {
  position: relative;
  width: 90%;
}
.content-home .boddy-home .sky-principal #skyPrincipal2 {
  position: absolute;
  z-index: 1;
}
.content-home .boddy-home .sky-principal #skyPrincipal2 {
  position: absolute;
  opacity: 0.5;
  z-index: 0;
}
.content-home .boddy-home .sky {
  height: 100vh;
  width: 97vw;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-home .boddy-home .sky .sky1 {
  width: 20%;
  position: relative;
  top: 10%;
  right: 40%;
  z-index: 1;
}
.content-home .boddy-home .sky .sky2 {
  width: 20%;
  position: absolute;
  top: 50%;
  right: 0%;
}
.content-home .boddy-home .sky .bgSkys {
  position: absolute;
  top: 10%;
}
.content-home .boddy-home .info {
  margin-top: 15%;
  width: 60vw;
  display: flex;
  z-index: 3;
  align-items: center;
  flex-direction: column;
  gap: 7vh;
}
.space {
  margin-top: 25vh;
}
@keyframes skyHorizontal {
  0% {
    top: 40%;
    left: 0%;
    opacity: 0.4;
  }
  25% {
    top: 38%;
    left: 5%;
    opacity: 0.5;
  }
  50% {
    top: 36%;
    left: 0%;
    opacity: 0.4;
  }
  75% {
    top: 38%;
    left: 5%;
    opacity: 0.5;
  }
  100% {
    top: 40%;
    left: 0%;
    opacity: 0.4;
  }
}
@keyframes fadeScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeScaleHorizontal {
  0% {
    opacity: 0;
    transform: scale(1);
    left: 0%;
  }
  10% {
    opacity: 0.3;
    transform: scale(1);
    left: 10%;
  }
  100% {
    left: 100%;
    opacity: 0.1;
    transform: scale(1);
  }
}
.content-cards {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  background: linear-gradient(to bottom, #3355b7, #3a8ec9);
  display: flex;
  flex-direction: column;
  gap: 8%;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.pinimg.com/564x/f6/ec/ac/f6ecac01856f45fe209380f8561776f4.jpg");
  background-image: url("https://i.pinimg.com/564x/98/ed/23/98ed23f689275877b8b5900f3daeda9c.jpg");
}
.content-cards .bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  background-color: rgba(100, 100, 100, 0.6);
  z-index: 0;
  background-size: cover;
  background-position: center;
}
.content-cards .nav {
  position: relative;
  width: 100vw;
  top: 2%;
}
.content-cards .boddy {
  z-index: 1;
  width: 95%;
  height: 80%;
  gap: 1%;
  border-radius: 7px;
  background-color: rgba(200, 250, 250, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
}
.content-cards .boddy .content-boddy {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 95%;
  gap: 1%;
}
.content-cards .boddy .content-boddy .place-filter {
  width: 90%;
  height: 10%;
  background-color: rgba(51, 85, 183, 0.1);
  display: flex;
  align-items: center;
}
.content-cards .boddy .content-boddy .place-cards {
  width: 95%;
  height: 95%;
  border-radius: 7px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 18.5%);
  grid-template-rows: repeat(2, 49%);
  gap: 2% 2%;
}
.content-cards .boddy .content-boddy .place-cards .statemet-card {
  height: 100%;
  width: 100%;
}
.content-cards .boddy .content-boddy .place-cards .statemet-card:hover {
  scale: 1.1;
}
.content-cards .boddy .content-boddy .place-selector-page {
  width: 90%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-cards .boddy .perfil {
  width: 15%;
  height: 95%;
  background-color: #78c3ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
}
.content-cards .boddy .perfil .perfil-user {
  height: 60%;
  width: 100%;
}
.content-cards .boddy .perfil .team-user {
  height: 37%;
  width: 100%;
}
.content-cards .boddy .cards {
  width: 82%;
  height: 95%;
}
.content-card {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-card .structure-card-mini {
  padding: 10% 0%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 7px;
  background-color: rgba(22, 22, 22, 0.1);
  transition: all 0.3s;
}
.content-card .structure-card-mini:hover {
  scale: 1.1;
  background-color: rgba(22, 22, 22, 0.3);
}
.content-card .structure-card-mini .icon-close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: rgba(215, 52, 19, 0.9);
  z-index: 2;
  right: 4%;
  top: 4%;
  padding: 2%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-card .structure-card-mini .icon-close .x {
  font-weight: 600;
  color: white;
}
.content-card .structure-card-mini .sprites {
  width: 90%;
}
.content-card .structure-card {
  animation: animacionComponente 0.1s ease-in-out;
  height: 90%;
  width: 90%;
  transition: 0.3s;
}
.content-card .structure-card:hover .card-a,
.content-card .structure-card:hover .card-b {
  scale: 1.1;
  box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.content-card .structure-card:hover .card-a .secundary-bg,
.content-card .structure-card:hover .card-b .secundary-bg {
  height: 100%;
  opacity: 1;
  transition: 1s;
}
.content-card .structure-card:hover .card-a .aura-bg,
.content-card .structure-card:hover .card-b .aura-bg {
  height: 89%;
  opacity: 3;
  transition: 0.8s;
  animation: rotar 15s infinite linear;
  border-radius: 50%;
}
.content-card .structure-card:hover .card-a .semi-circle,
.content-card .structure-card:hover .card-b .semi-circle {
  opacity: 0;
  width: 30%;
  transition: opacity 1s width 0.5s;
}
.content-card .structure-card:hover .card-a .content-icon-selector,
.content-card .structure-card:hover .card-b .content-icon-selector {
  scale: 2.1;
  opacity: 0.6;
  transition: 1s;
}
.content-card .structure-card:hover .card-a .content-icon-selector-mini,
.content-card .structure-card:hover .card-b .content-icon-selector-mini {
  transition: 0.3s;
  top: 0.8%;
  scale: 0.3;
}
.content-card .structure-card:hover .card-a .img-pokemon,
.content-card .structure-card:hover .card-b .img-pokemon {
  width: 80%;
  transition: 1s;
}
.content-card .structure-card:hover .card-a .shadow,
.content-card .structure-card:hover .card-b .shadow {
  bottom: 20%;
  background-color: rgba(22, 22, 22, 0);
  transition: all 0.3s;
}
.content-card .structure-card:hover .card-a .status,
.content-card .structure-card:hover .card-b .status {
  scale: 1.1;
}
.content-card .structure-card:hover .card-a .status .team,
.content-card .structure-card:hover .card-b .status .team {
  display: flex;
  opacity: 100%;
  width: 95%;
  transition: 0.3s;
}
.content-card .structure-card:hover .card-a .status .team:hover,
.content-card .structure-card:hover .card-b .status .team:hover {
  scale: 1.1;
}
.content-card .structure-card:hover .card-a .status .active,
.content-card .structure-card:hover .card-b .status .active {
  transition: all 1s;
  opacity: 100%;
}
.content-card .structure-card:hover .card-a .status .team:not(.active),
.content-card .structure-card:hover .card-b .status .team:not(.active) {
  transition: all 1s;
  opacity: 100%;
}
.content-card .structure-card .card-b {
  height: 100%;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  border: 3px solid #0a0a0a;
  transform: perspective(500px) rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s;
}
.content-card .structure-card .card-a {
  top: -102%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 18px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  border: 3px solid #0a0a0a;
  backface-visibility: hidden;
  transition: all 0.4s;
}
.content-card .structure-card .card-a .bg-card {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  color: rgba(0, 0, 0, 0);
  filter: blur(12px);
  border-radius: 18px;
}
.content-card .structure-card .secundary-bg {
  position: absolute;
  height: 70%;
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
}
.content-card .structure-card .aura-bg {
  position: absolute;
  height: 10%;
  opacity: 0;
  filter: blur(9px);
  transition: 1s;
}
.content-card .structure-card .content-icon-selector {
  position: absolute;
  transition: 1s;
  opacity: 0;
}
.content-card .structure-card .semi-circle {
  opacity: 1;
  width: 95%;
  transition: all 1s;
}
.content-card .structure-card .semi-circle-c {
  opacity: 1;
  width: 95%;
  transition: all 1s;
}
.content-card .structure-card .content-icon-selector-mini {
  position: absolute;
  top: 1%;
  left: 2%;
  height: 10%;
  width: 10%;
  scale: 0.2;
  transition: 0.3s;
}
.content-card .structure-card .img-titleCard {
  position: absolute;
  width: 100%;
  top: 3%;
}
.content-card .structure-card .img-pokemon {
  position: absolute;
  width: 75%;
  transition: 1s;
}
.content-card .structure-card .shadow {
  bottom: 24%;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 55%;
  height: 9%;
  background-color: rgba(22, 22, 22, 0.5);
  filter: blur(9px);
  transition: all 0.3s;
}
.content-card .structure-card .no-pokedex {
  font-family: 'Comfortaa', cursive;
  position: absolute;
  top: 13.5%;
  font-size: 80%;
  width: auto;
  left: 8%;
  text-align: left;
  font-weight: 900;
}
.content-card .structure-card .name {
  font-family: 'Comfortaa', cursive;
  position: absolute;
  top: 5%;
  width: auto;
  left: 20%;
  text-align: left;
}
.content-card .structure-card .level-stats {
  position: absolute;
  width: 100%;
  align-items: baseline;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 8%;
  gap: 0%;
}
.content-card .structure-card .level-stats .level {
  font-family: 'Rubik Mono One', sans-serif;
  gap: 1%;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  width: 100%;
  font-weight: 100;
  scale: 0.7;
}
.content-card .structure-card .level-stats .level .text {
  scale: 1;
}
.content-card .structure-card .level-stats .level .value-lvl {
  font-size: 24px;
}
.content-card .structure-card .stats-simple {
  position: absolute;
  left: -8%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 25%;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
.content-card .structure-card .stats-simple .content-stat {
  color: #ffffff;
  width: 100%;
  border: 2px solid #0a0a0a;
  height: 20%;
  font-weight: 500;
  font-family: 'Almarai', sans-serif;
  padding: 4% 2%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content-card .structure-card .stats-simple .content-stat .value {
  height: 80%;
  position: absolute;
  right: 10%;
}
.content-card .structure-card .stats-simple .content-stat .icon-stack {
  height: 80%;
  position: absolute;
  left: 10%;
}
.content-card .structure-card .content-show-icon-selector {
  position: absolute;
  right: 10%;
  top: 14.5%;
  scale: 1;
  background-color: #161616;
  height: auto;
  width: auto;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 0% 8%;
}
.content-card .structure-card .content-show-icon-selector .type-icon-show {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35%;
  padding: 0% 1%;
}
.content-card .structure-card .content-show-icon-selector .type-icon-show .box {
  height: 70%;
}
.content-card .structure-card .content-show-icon-selector .type-icon-show .box .img-type-icon {
  height: 100%;
}
.content-card .structure-card .status {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  height: 25%;
  width: 20%;
  top: -3%;
  left: -11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0%;
}
.content-card .structure-card .status .team {
  width: 90%;
  transition: 0.3s;
}
.content-card .structure-card .status .team:hover {
  scale: 1.1;
}
.content-card .structure-card .status .active {
  transition: all 0.3s;
  opacity: 100%;
}
.content-card .structure-card .status .team:not(.active) {
  transition: all 0.3s;
  opacity: 0%;
}
.content-card .structure-card .icon-turn {
  position: absolute;
  z-index: 2;
  top: 3%;
  right: -8%;
  cursor: pointer;
}
@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animacionComponente {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.enveloped-selected {
  border: solid 2px #1e1e1e;
}
.container-enveloped {
  background-color: aquamarine;
}
.content-infoCard {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  position: relative;
}
.content-infoCard .base-card {
  background-color: #ffffff;
  height: 45vh;
  width: 100%;
  position: absolute;
  border-radius: 10px;
}
.content-infoCard .base-card .info-text {
  position: absolute;
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 5%;
}
.content-infoCard .base-card .info-text .title {
  font-weight: 600;
}
.content-infoCard img {
  height: 85%;
  position: absolute;
}
.content-nav-menu {
  width: 100%;
  height: 8vh;
  background-color: #78c3ed;
  color: #d0ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  overflow: hidden;
}
@media (max-width: 1500px) {
}
.content-nav-menu .option-menu {
  position: relative;
  height: 50%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  background-color: #78c3ed;
  color: #d0ffff;
  padding: 1px 5px;
  border: 2px solid #d0ffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}
@media (max-width: 1500px) {
  .content-nav-menu .option-menu {
    width: 9%;
    height: 52%;
  }
}
.content-nav-menu .option-menu:hover {
  background-color: #d0ffff;
  color: #78c3ed;
  scale: 1.1;
}
.content-nav-menu .option-menu:hover .icon-selector {
  scale: 3.6;
  left: 50px;
}
.content-nav-menu .option-menu .icon-selector {
  position: absolute;
  transition: all 1s;
  left: 0px;
}
.content-nav-menu .option-menu .text {
  z-index: 1;
}
.content-nav-menu .option-menu .icon-count {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-nav-menu .option-menu .icon-count .count {
  width: 20px;
  height: 20px;
  background-color: #3e7fb7;
  opacity: 0.8;
  color: #d0ffff;
  font-size: 9px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.pokemon {
  border: solid 2px rgba(22, 22, 22, 0);
}
.selected {
  border: solid 2px #161616;
}
.selections-team {
  height: auto;
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  background-color: #de1616;
}
.content-battleField {
  color: red;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de1616;
}
.content-battleField .stadium {
  height: 95%;
  width: 98%;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-battleField .stadium .battleField {
  height: 99%;
  width: 99%;
  background-color: #b4cade;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-battleField .stadium .battleField .place-pokemon-inBattle {
  background-color: #707070;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-perfil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-perfil .user-gametag {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content-perfil .user-gametag .gametag {
  font-size: 240%;
  font-weight: 400;
  padding-left: 2%;
  margin-left: 3%;
}
.content-perfil .user-level {
  width: 1%;
  height: 0.1%;
  position: relative;
  font-weight: 700;
  font-size: 600%;
  bottom: 12%;
  left: 45%;
  color: #3e7fb7;
  opacity: 0.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.content-perfil .user-perfil {
  width: 100%;
  height: 75%;
  display: flex;
}
.content-perfil .user-perfil .user-economy {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.content-perfil .user-perfil .user-economy .trade-element {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40%;
  gap: 3%;
  font-size: 150%;
}
.content-perfil .user-perfil .user-image-trainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-perfil .user-perfil .user-image-trainer .image-trainer {
  z-index: 1;
  width: 90%;
}
.content-selector-icon {
  position: relative;
  left: 0px;
  z-index: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-selectorPages {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-selectorPages .selectorPages {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.content-selectorPages .selectorPages .selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
}
.content-selectorPages .selectorPages .items-pages {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.content-selectorPages .selectorPages .items-pages .items {
  width: 1.4vw;
  height: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #78c3ed;
  color: #78c3ed;
}
.content-selectorPages .selectorPages .items-pages .item-selection {
  width: 1.5vw;
  height: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d0ffff;
  color: #78c3ed;
}
.content-team {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.content-team .box {
  width: 85%;
  height: 90%;
  background-color: #d0ffff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3%;
}
.content-team .box .title {
  margin-top: 2%;
  font-family: 'Almarai', sans-serif;
  width: 85%;
  height: 10%;
  font-size: 190%;
  font-weight: 500;
  text-align: left;
  margin-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}
.content-team .box .team {
  height: 75%;
  width: 90%;
  display: grid;
  justify-items: center;
  /* Centrar horizontalmente */
  align-content: center;
  /* Centrar verticalmente */
  align-items: center;
  grid-template-columns: repeat(3, 30%);
  /* 3 columnas de tamaño igual */
  gap: 7% 5%;
  /* Espacio entre las celdas */
}
.separator {
  color: rgba(22, 22, 22, 0);
  width: 90%;
  height: 0.8%;
  background-color: #161616;
}
.release-pokemon-content {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  background-color: rgba(22, 22, 22, 0.9);
  color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-face-b {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-face-b .name-b {
  position: absolute;
  top: 4%;
  background-color: rgba(22, 22, 22, 0.8);
  border-radius: 18px;
  width: 70%;
  padding: 1%;
}
.content-face-b .img-sprite {
  position: absolute;
  background-color: rgba(22, 22, 22, 0.4);
  right: 3%;
  top: 20%;
  border-radius: 18px;
}
.content-face-b .stats-complete {
  position: absolute;
  left: 10%;
  top: 20%;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 35%;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
.content-face-b .stats-complete .content-stat {
  color: #ffffff;
  width: 100%;
  border: 2px solid #0a0a0a;
  height: 20%;
  font-weight: 500;
  font-family: 'Almarai', sans-serif;
  padding: 4% 2%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content-face-b .stats-complete .content-stat .value {
  height: 80%;
  position: absolute;
  right: 10%;
}
.content-face-b .stats-complete .content-stat .icon-stack {
  height: 80%;
  position: absolute;
  left: 10%;
}
